* {
    font-family: 'Verdana', sans-serif;
    font-size: 20px;
}

#tp{

    color: yellow;
}

h1{
font-size: 3rem;


}

#sub-header{

      text-transform: uppercase;
}



section > ul > li {
    letter-spacing: 10px;
}

.text-green{

    background-color: green;
}

.border-blue li{

   border-top: 1px solid blue;
  border-bottom: 1px solid blue;
  border-left: 1px  solid blue;
  border-right: 1px solid blue;
}

section img{


    height: 20vh;
    width: 20vh;
    border-radius: 100px;
}

img + ul{

list-style-type: none;

}

#footnote{
    color: black;
font-size: 1rem;
font-weight: bold;
text-align: center;

}