/*Decendant Selector

Select all <a>'s nested inside and <li>

li a{
	
	color:  pink;
}

----example
footer a{
	color: pink;
} */



/*Adjacent Selector
Select only paragraphs that are immediately preceded by an <h1>
h1 + p{
	
	color:  red;
}

h2 + p{

	color: red;
}
*/


/*Direct Decendant
Select only the <li>'s direct children of a div element

div > li {
	
	color:  white;
}


section > h2 {
color: blue;
}

footer > a {
	border: 5px solid blue;
}
*/

/*Attribute Selector
Select all input elements where the type is set to "text"

label + input[type="text"]{

	width: 300px;
	color: red;
}
*/

/*Psuedo Classes

keyword added to a selector that specifies a specific state of the selected elements

nav a:hover{
color: orange;
text-decoration: none;
}

*/


/*CSS Units

---Absolute----
*px -pixels
*pt -point

---Relative--
*em  -Relative to the font-size of the element (2 em means 2 time the size of the current font)

section{

font-size: 30px;

}

span{
font-size: 2em;

}


*rem -Relative to the font-size of the root element

*/
/*section{

	font-size: 30px;
	border: 2px solid red;
}

body{
font-size: 10px;

}
.sample-size{
font-size: 3rem;
border: 2px solid grey;
}

div{
font-size: 2rem;
border: 2px solid grey;
}
*/


